.classroomContainer {
  max-width: 1000px !important;
}

.classroomBanner {
  position: relative;
  margin-top: 30px;
  width: 100%;
  border-radius: 15px;
  overflow: hidden;
}

.classroomBannerImg {
  width: 100%;
  background-size: cover;
}

.classroomInfo {
  z-index: 1;
  position: absolute;
  bottom: 25px;
  left: 25px;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  display: block;
}

.className {
  font-size: 2.25rem;
  font-weight: 500;
  line-height: 2.75rem;
  color: #fff;
}

.classSection {
  font-size: 1.375rem;
  font-weight: 400;
  line-height: 1.75rem;
  color: #fff;
}

.classStream {
  margin-top: 20px;
}

.classUpcoming {
  position: relative;
  display: block;
  width: 100%;
  height: 130px;
  border: 1px solid #dadce0;
  border-radius: 10px;
}

.classUpcomingTitle {
  letter-spacing: 0.01785714em;
  font-size: 0.875rem;
  font-weight: 500;
  line-height: 1.25rem;
  color: #3c4043;
  padding: 1rem;
}

.classUpcomingDetail {
  font-size: 0.8125rem;
  font-weight: 400;
  line-height: 1.25rem;
  color: rgba(0, 0, 0, 0.5);
  padding-left: 1rem;
}

.classViewAllWork {
  position: absolute;
  letter-spacing: 0.01785714em;
  font-size: 0.875rem;
  font-weight: 500;
  line-height: 1.25rem;
  color: #3c4043;
  text-transform: none;
  text-decoration: none;
  bottom: 15px;
  right: 20px;
}

.classLeft {
  position: relative;
  display: block;
  width: 100%;
  border: 1px solid #dadce0;
  border-radius: 10px;
  margin-bottom: 10px;
}

.classLeftTitle {
  letter-spacing: 0.01785714em;
  font-size: 0.875rem;
  font-weight: 500;
  line-height: 1.25rem;
  color: #3c4043;
  padding: 1rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.classLeftDetail {
  font-size: 0.8125rem;
  font-weight: 400;
  line-height: 1.25rem;
  color: #0978cc;
  padding-left: 1rem;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  margin-bottom: 1rem;
}

.classInviteMenuItem {
  letter-spacing: 0.01785714em;
  font-size: 0.875rem;
  font-weight: 500;
  line-height: 1.25rem;
}

.classViewAllWork:hover {
  text-decoration: underline;
}

.classStream {
  display: block;
  width: 100%;
}

.classAnnounce {
  cursor: pointer;
  position: relative;
  border: 1px solid #dadce0;
  border-radius: 10px;
  height: 75px;
  box-shadow: 0 1px 2px 0 rgb(60 64 67 / 30%), 0 2px 6px 2px rgb(60 64 67 / 15%);
  border-radius: 0.5rem;
  overflow: hidden;
}

.classAnnounce img {
  position: absolute;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  top: 17px;
  left: 20px;
}

.classAnnounce p {
  position: absolute;
  opacity: 0.8;
  font-size: 0.8125rem;
  font-weight: 400;
  line-height: 1.25rem;
  top: 13.5px;
  left: 75px;
}

@media screen and (max-width: 598px) {
  .classUpcoming {
    display: none;
  }
  .classUpcomingDetail {
    margin-bottom: 20px;
  }
}
