.classroomPeopleContainer {
  margin-top: 40px;
  max-width: 700px !important;
}

.dividerBlue {
  background: #1967d2;
  border-bottom-width: 10;
}

.studentName {
  color: black;
  margin-left: 20px !important;
  font-weight: normal;
  padding-top: 15px;
  padding-bottom: 15px;
  text-decoration: none !important;
}

.avatar {
  width: 35px;
  height: 35px;
  border-radius: 50%;
  border: 1px solid #dbdbdb;
}

.bigfont {
  color: #1967d2;
}

.fontNumClass {
  color: #1967d2;
  margin-right: 20px !important;
  font-weight: bold;
}

.participantHeader {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

@media screen and (max-width: 598px) {
  .classUpcoming {
    display: none;
  }
  .classUpcomingDetail {
    margin-bottom: 20px;
  }
}
