.logo {
  font-size: 30px;
  transform: scale(1.2);
  margin-right: 10px;
}

.avatar {
  width: 35px;
  height: 35px;
  border-radius: 50%;
}

.classOptions {
  color: blue;
  font-weight: bold;
}

.ListDesktop {
  display: flex !important;
}

.ListMobile {
  display: none !important;
}

@media screen and (max-width: 767px) {
  .ListDesktop {
    display: none !important;
  }

  .ListMobile {
    display: flex !important;
  }
}
