.logo {
  font-size: 30px;
  transform: scale(1.2);
  margin-right: 10px;
}

.avatar {
  width: 35;
  height: 35;
  border-radius: 50%;
}

.classOptions {
  color: blue;
  font-weight: bold;
};